.header {
    margin-bottom: $base-spacing*9;

    &__name {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0 0 $base-spacing;
        text-transform: uppercase;
        word-spacing: 1000px;

        &__highlight {
            color: $text-highlight;
            display: block;
            font-weight: 700;
        }
    }

    &__whoiam {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: $base-spacing*5;
        text-transform: uppercase;
    }

    &__about-me {
        line-height: 1.5;
        margin: 0 0 $base-spacing*2;
        text-align: justify;
    }
}
