.header {
    background: url(https://i.imgur.com/7nTg535.png);
    border-top: 60px solid $highlight;
    padding: $base-spacing*3 $base-spacing $base-spacing*6;
    text-align: center;

    &__name {
        font-size: 2.85rem;
        font-weight: 200;
        margin: 0 0 $base-spacing*4;
        text-transform: uppercase;
        word-spacing: 1000px;
    }

    &__whoiam {
        color: $highlight;
        font-size: 0.7rem;
        margin: 0;
        text-transform: uppercase;
    }

    &__resources {
        list-style: none;
        margin: 0 0 $base-spacing*4;
        position: relative;
        text-align: center;

        &:before {
            content: "";
            border-bottom: 1px dashed $highlight;
            display: block;
            left: 5%;
            position: absolute;
            top: 50%;
            width: 90%;
            z-index: 0;
        }

        &__link {
            background-color: $highlight;
            border-radius: 50%;
            display: flex;
            height: 45px;
            margin: 0 auto;
            position: relative;
            width: 45px;
            z-index: 1;

            & svg {
                width: 60%;
                margin: 0 auto;
            }
        }
    }
}
