.header {
    margin-bottom: $base-spacing*9;

    &__name {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0 0 $base-spacing;
        text-transform: uppercase;

        @media screen and (min-width: $mobile-landscape) {
            font-size: 5rem;
        }

        @media screen and (min-width: $tablet-landscape) {
            border-left: $base-spacing*4 solid $highlighter-background;
            font-size: 7rem;
            padding-left: $base-spacing*5;
        }

        &__highlight {
            color: $text-highlight;
            display: block;
            font-weight: 700;
        }
    }

    &__whoiam {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: $base-spacing*5;
        text-transform: uppercase;

        @media screen and (min-width: $tablet-landscape) {
            font-size: 1.5rem;
            margin-bottom: $base-spacing*9;
        }
    }

    &__about-me {
        line-height: 1.5;
        margin: 0 0 $base-spacing*2;
        text-align: justify;
    }
}
