.contacts {
  margin: 0 0 $base-spacing*2;

  @media screen and (min-width: $mobile-landscape) {
    text-align: right;
  }

  &__contact {
    display: inline-block;
    margin-right: $base-spacing;

    @media screen and (min-width: $mobile-landscape) {
      margin-right: $base-spacing*3;
    }

    @media screen and (min-width: $tablet-portrait) {
      margin-right: $base-spacing*4;
    }

    &:last-child {
      margin-right: 0;
    }

    &__link {
      display: block;
      width: 40px;

      @media screen and (min-width: $tablet-portrait) {
        width: 50px;
      }
      
      &__image {
        width: 100%;
      }
    }
  }
}