@import "~normalize.css/normalize";

body {
    background-color: #181200;
    color: $text-color;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

main {
    background-color: $main-background;
    margin: 0 auto;
    max-width: 1024px;
    padding: $base-spacing*5 $base-spacing*2;
}

h2 {
    color: $text-highlight;
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 0;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

.hide-a11y {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
