@import "~normalize.css/normalize";

body {
    background-color: $body-background;
    color: $text-color;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    @media screen and (min-width: $tablet-landscape) {
        font-size: 16px;
    }
}

main {
    background-color: $main-background;
    margin: 0 auto;
    max-width: 1024px;
    padding: $base-spacing*5 $base-spacing*2;

    @media screen and (min-width: $mobile-landscape) {
        padding-left: $base-spacing*4;
        padding-right: $base-spacing*4;
    }

    @media screen and (min-width: $tablet-landscape) {
        padding-left: $base-spacing*8;
        padding-right: $base-spacing*8;
    }
}

h2 {
    color: $text-highlight;
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 0;
    text-transform: uppercase;

    @media screen and (min-width: $mobile-landscape) {
        font-size: 3rem;
    }
}

ul {
    padding: 0;
}

p {
    margin: 0;
}

.hide-a11y {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
