// Colours
$body-background: #181200;
$main-background: #F8F7F4;

$highlighter-background: #181200;
$highlighter-text: #F8F7F4;

$text-color: #181200;
$text-highlight: #AE3D00;

// Spacing
$base-spacing: 8px;

// Breakpoints
$mobile-portrait: 320px;
$mobile-landscape: 600px;
$tablet-portrait: 1024px;
$tablet-landscape: 600px;
$desktop: 1280px;
