.job-role {
  margin-bottom: $base-spacing*9;

  &__heading {
    display: flex;
    flex-wrap: wrap;

    &__company {
      flex-basis: 100%;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 $base-spacing;
      order: 1;
    }
  
    &__duration {
      box-shadow: inset 1000px 1000px 0 0 $highlighter-background;
      color: $highlighter-text;
      display: inline-block;
      margin-bottom: $base-spacing*2;
      margin-left: -$base-spacing*2 - 1;
      order: 0;
      padding: $base-spacing $base-spacing*2 $base-spacing $base-spacing*2 + 1px;
      -webkit-print-color-adjust: exact;
    }
  
    &__role {
      flex-basis: 100%;
      font-size: 1.36rem;
      font-weight: 700;
      margin-bottom: $base-spacing*4;
      order: 2;
      text-transform: uppercase;
    }
  }

  &__description {
    margin-bottom: $base-spacing*3;
  }

  &__responsibilities-and-projects {
    &__description {
      margin-bottom: $base-spacing*2;

      &:after {
        content: ":";
      }
    }

    &__list {
      list-style: disc;
      padding-left: $base-spacing*2;

      &__item {
        margin-bottom: $base-spacing;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:after {
          content: ";";
        }
      }
    }
  }
}
